h1,
h2,
h3,
p,
ul,
ol {
    font-family: Arial, "Times New Roman", sans-serif;
}

div {
    width: 800px;
    margin: 16px auto;
}

h1 {
    color: black;
    font-weight: bold;
    padding: 8px;
}

h2 {
    color: black;
    font-size: 26px;
}

h3 {
    color: navy;
    font-size: 22px;
}

p {
    color: navy;
    font-size: 22px;
}

ul,
ol {
    color: black;
    font-size: 22px;
}

img {
    height: auto;
    width: 500px;
}

#return {
    text-align: center;
    font-size: 26px;
    color: black;
    padding: 8px;
}